body{
    margin:0px;
    font-family: "Open Sans","ÉqÉâÉMÉmäpÉS ProN W3","Hiragino Kaku Gothic ProN","ÉÅÉCÉäÉI",Meiryo,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.PCnone {
    display: none !important;
}
.SPnone {
    display: inherit !important;
}

#content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

#nav {
    border-spacing: 0px;
    width:100%;
    table-layout: fixed;
}

#nav .tooth {
    text-align: center;
    height: 25px;
    font-size: 12px;
    padding-top: 30px;
}

#nav .soeji {
    text-align: center;
    font-size: 12px;
    color:#777777;
}

.FloatR {
    width: 29%;
    float: right;
}

.FloatL {
    width: 70%;
    float: left;
}

.clear {
    clear: both;
    height: 0.1px;
    margin: 0px;
    padding: 0px;
    width: 0.1px;
}

footer{
    text-align: center;
    padding: 10px 0;

    margin-top: auto;
}

.footer{
    width: 100%;
    background-color: #ff4d4d1a;
    color: #fff;
}


.button {
    height: 30px;
    min-width: 120px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
    margin: 10px 10px 0;
    border: 2px #b62905 solid;
    background-color: transparent;
    color: #b62905;
}

.button.navy {
    background-color: #1f2f54;
}

.cate{
    margin:10px;
    padding: 10px;
    border: 1px #ccc solid;
    vertical-align: top;
}

.cateTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-left: 4px #b62905 solid;
    border-bottom: 2px #b62905 dashed;
    margin:0px 0px 20px 0px;
}

.top {
    max-width: 100%;
    background: #ff4d4d1a;
}
.top-main{
    margin: 0 auto;
    max-width: 1000px;
    padding: 5px;
    color: #f44b4b;
    font-weight: bold;
}

#pass{
    width:250px;
}
@media screen and (orientation: portrait) {
    .PCnone {
        display: inherit !important;
    }
    .SPnone {
        display: none !important;
    }
    .FloatL {
        width: 95%;
        float: none;
    }
    .FloatR {
        width: 95%;
        float: none;
    }
}